asgiref==3.10.0
BTrees==6.2
cffi==2.0.0
dill==0.4.0
Django==5.2.7
django-cors-headers==4.9.0
persistent==6.3
psycopg==3.2.12
psycopg-binary==3.2.12
sqlparse==0.5.3
transaction==5.0
tzdata==2025.2
zc.lockfile==4.0
ZConfig==4.2
ZODB==6.1
zodbpickle==4.2
zope.deferredimport==6.0
zope.interface==8.0.1
zope.proxy==7.0

